/* Global Variables valid for both dark and light modes */
:root {
  --color-highlight-h2: #0079FF;
  --color-button-hover: #60ABFF;
  --color-error: #F74646;

  --border-radius-l: 1.5rem;
  --border-radius-s: 1rem;

  --font-size-logo: 2.6rem;
  --line-height-logo: 3.8rem;

  --font-size-input: 1.3rem;
  --line-height-input: 2.5rem;

  --font-size-button: 1.4rem;
  --line-height-button: 2.073rem;

  --font-size-h1: 1.6rem;
  --line-height-h1: 2.37rem;

  --font-size-h2: 1.3rem;
  --line-height-h2: 1.925rem;

  --font-size-h3: 1.1rem;
  --line-height-h3: 1.629rem;

  --font-size-date: 1.3rem;
  --line-height-date: 1.925rem;

  --font-size-description: 1.3rem;
  --line-height-description: 2.5rem;

  --font-size-data: 1.6rem;
  --line-height-data: 2.37rem;

  --font-size-footer: 1.3rem;
  --line-height-footer: 1.925rem;

  --picture-size: 7rem;
  
}

/* Color palette - Light mode */
:root[color-mode="light"] {
  --color-text-main: #4B6A9B ;
  --color-text-secondary: #34383f ;
  --color-h1-stats: #2B3442;
  --color-background-main: #FEFEFE;
  --color-background-secondary: #F6F8FF;
  --color-logo-mode-hover: #222731;
  --color-input: #222731;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

/* Color palette - Dark mode */
:root[color-mode="dark"] {
  --color-text-main: #FFFFFF ;
  --color-text-secondary: #FFFFFF ;
  --color-h1-stats: #FFFFFF;
  --color-background-main: #1E2A47;
  --color-background-secondary: #141D2F;
  --color-logo-mode-hover: #90A4D4;
  --color-input: #FFFFFF;
  --shadow: 0px 0px 0px 0px rgba(70, 96, 187, 0);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text-main: #FFFFFF ;
    --color-text-secondary: #FFFFFF ;
    --color-h1-stats: #FFFFFF;
    --color-background-main: #1E2A47;
    --color-background-secondary: #141D2F;
    --color-logo-mode-hover: #90A4D4;
    --color-input: #FFFFFF;
    --shadow: 0px 0px 0px 0px rgba(70, 96, 187, 0);
  }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: var(--color-background-secondary);
  min-height: 100vh;
  height: 100%;
  transition: all 500ms;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  font-family: 'Space Mono', monospace, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-main);
  font-size: var(--font-size-description);
  line-height: var(--line-height-description);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  color: var(--color-h1-stats);
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: var(--color-highlight-h2);
}

h3 {
  font-weight: 400;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: inherit;
}

button {
  cursor: pointer;
}

/*** Screen readers only ***/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  width: 73rem;
  /* height: 61.1rem; */
  height: 66.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin: 0 2.4rem;
  margin: 3.1rem 2.4rem 7.9rem 2.4rem;
}

/********** Header **********/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  height: 3.8rem
}

.header__logo {
  font-weight: 700;
  font-size: var(--font-size-logo);
  line-height: var(--line-height-logo);
  color: var(--color-h1-stats);
}

:root[color-mode="light"] #button-light {
  display: none;
}
:root[color-mode="dark"] #button-dark {
  display: none;
}

.color-mode__btn {
  border: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1;
  background: transparent;
  color: var(--color-text-primary);
}

.color-mode__btn:hover {

  color: var(--color-logo-mode-hover);
}

.color-mode__btn:hover .color-mode__icon--dark {
  filter: brightness(0) invert(12%) sepia(9%) saturate(1513%) hue-rotate(182deg) brightness(92%) contrast(91%);
}

.color-mode__btn:hover .color-mode__icon--light {

  filter: brightness(0) invert(88%) sepia(23%) saturate(5933%) hue-rotate(187deg) brightness(91%) contrast(80%);
}

/********** Search bar **********/

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background: var(--color-background-main);
  padding: 0.7rem;
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow);
}

.search-bar__icon {
  height: 20px;
  width: 20px;
  margin-left: 0.9rem;
  margin-right: 0.2rem;
}

.search-bar__input {
  border: none;
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  text-overflow: ellipsis;
  margin: 0 0.7rem;
  width: 100%;
  color: var(--color-input);
  caret-color: var(--color-highlight-h2);
  background: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: var(--color-text-main);
}

.search-bar__button {
  border: none;
  height: 100%;
  min-width: 8.4rem;
  border-radius: var(--border-radius-s);
  background: var(--color-highlight-h2);
  color: #FFFFFF;
  font-weight: 700;
  font-size: var(--font-size-button);
  line-height: var(--line-height-button);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.search-bar__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-button-hover);
  z-index: -1;
  opacity: 0;
  transition: opacity 150ms;
}

.search-bar__button:hover::after {
  opacity: 1;
  transition: opacity 150ms;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-description);
  white-space: nowrap;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

/********** User infos **********/


.user-info {
  display: grid;
  grid-template-columns: min-content auto ;
  column-gap: 1.9rem;
  row-gap: 3.3rem;
  padding: 3.2rem 2.4rem 4.8rem 2.4rem;
  background: var(--color-background-main);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow);
}

/***** User infos - Header *****/
.user-info__img {
  height: var(--picture-size);
  width: var(--picture-size);
  border-radius: 50%;
}

.user-info__date {
  margin-top: 0.6rem;
  font-size: var(--font-size-date);
  line-height: var(--line-height-date);

}

.user-info__main {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  row-gap: 2.35rem;
}

/***** User infos - Statistics *****/
.user-info__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  height: 8.5rem;
  padding: 1.85rem 1.45rem;
  border-radius: var(--border-radius-s);
  background: var(--color-background-secondary);
}

.user-info__stats__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info__stats__data {
  font-weight: 700;
  font-size: var(--font-size-data);
  line-height: var(--line-height-data);
  color: var(--color-h1-stats);
}

/***** User infos - Localization & Links *****/
.user-infos__links {
  display: grid;
  grid-template-rows: 20px;
  row-gap: 1.6rem;
  font-size: var(--font-size-footer);
  line-height: var(--line-height-footer);
}

.user-infos__links__item {
  display: grid;
  grid-template-columns: 2rem auto;
  column-gap: 1.3rem;
  align-items: center;
}

.user-infos__links__text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:root[color-mode="dark"] .user-infos__links__icon {
  filter: brightness(0%) invert(1);
}

a:hover {
  text-decoration: underline;
}

.not-available {
  opacity: 0.5;
}



/***** Media queries *****/
@media screen and (min-width: 768px) {
  :root{
    --font-size-input: 1.8rem;
  
    --font-size-button: 1.6rem;
    --line-height-button: 2.4rem;
  
    --font-size-h1: 2.6rem;
    --line-height-h1: 3.9rem;
  
    --font-size-h2: 1.6rem;
    --line-height-h2: 2.4rem;
  
    --font-size-h3: 1.3rem;
    --line-height-h3: 1.9rem;
  
    --font-size-date: 1.5rem;
    --line-height-date: 2.2rem;
  
    --font-size-description: 1.5rem;
  
    --font-size-data: 2.2rem;
    --line-height-data: 3.3rem;
  
    --font-size-footer: 1.5rem;
    --line-height-footer: 2.2rem;

    --picture-size: 11.7rem;
  }

  .container {
    height: 64.9rem;
    max-width: 57.3rem;
    margin-top: 0;
    margin-bottom: 9.6rem;
  }

  .search-bar {
    min-height: 69px;
    padding: 1rem;
  }

  .search-bar__icon {
    height: 24px;
    width: 24px;
    margin-right: 1.7rem;
  }

  .search-bar__input {
    margin-right: 1rem;
  }

  .search-bar__button {
    min-width: 10.6rem;
  }

  .error {
    margin-right: 2.4rem;
  }

  .user-info {
    column-gap: 4.1rem;
    row-gap: 2.4rem;
    padding: 4rem;
  }

  .user-info__main {
    row-gap: 3.1rem;
  }

  .user-info__stats {
    grid-template-columns: 32.4% 35.8% 31.8%;
    justify-items: start;
    text-align: start;
    padding: 1.6rem 3.2rem;
  }

  .user-infos__links {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.9rem;
    column-gap: 1rem;
  }

  .user-infos__links__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .user-infos__links__item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }

  .user-infos__links__item {
    column-gap: 1.6rem;
  }
}

@media screen and (min-width: 992px) {

  .container {
    max-width: 73rem;
  }
  .user-info {
    column-gap: 3.7rem;
    row-gap: 2rem;
    padding: 4.8rem;
  }
  .user-info__img {
    grid-column: 1;
    grid-row: 1 /span 2;
  }

  .user-info__header {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
  }

  .user-info__main {
    grid-column: 2;
    grid-row: 2;
    row-gap: 3.2rem;
  }

  .user-infos__links {
    margin-top: 0.5rem;
  }
}